################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data/obj
/UserApi/bin/Debug/netcoreapp3.1
/UserApi/obj
/UserWebApi/bin/Debug
/UserWebApi/obj
/.vs/UserWebApi
